<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script>
$(function() {
  /*$("#days_of_week").find("input:checkbox").each(function() {
    if($(this).is(':checked')) {
      $("."+$(this).attr("id")).css('background-color', 'greenyellow'); 
    }
  });*/
  updateColors();
  $("#days_of_week button").attr("href", "#");
  
  $("#days_of_week button").click(function() {
    var checkbox = $("#"+$(this).attr("class"));
    checkbox.click();
    updateColors();
    return false;
  });

  function updateColors() {
    $("#days_of_week").find("input:checkbox").each(function() {
      if($(this).is(':checked')) {
        $("."+$(this).attr("id")).css('background-color', 'greenyellow'); 
      } else {
        $("."+$(this).attr("id")).css('background-color', 'white'); 
      }
    });
  }

});
</script>

<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-horizontal"> 
  
    <div class="control-group">  
      <label class="control-label strong" for="name">Chore Name</label>  
      <div class="controls">  
        <%= f.text_field :name, :class => "span3" %>
        <span class="help-block">Examples: Take out the Trash, Sweep the Floor, Pay the Bills, etc.</span>
      </div>  
    </div>  
    <div class="control-group">
      <label class="control-label strong" for="description">Description</label>
      <div class="controls">
        <%= f.text_area :description, {:class => "span3", :rows => "4"} %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label strong" for="notify_time">Start Date</label>
      <div class="controls">
        <%= f.date_select :start_date %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label strong" for="notify_time">Time of Reminder</label>
      <div class="controls">
        <%= f.time_select :time %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label strong" for="days_of_week">Days of the Week</label>
      <div class="controls">
        <table class="table" id="days_of_week">
          <thead>
            <tr>
              <td><button class="chore_sunday">Sunday</button></td>
              <td><button class="chore_monday">Monday</button></td>
              <td><button class="chore_tuesday">Tuesday</button></td>
              <td><button class="chore_wednesday">Wednesday</button></td>
              <td><button class="chore_thursday">Thursday</button></td>
              <td><button class="chore_friday">Friday</button></td>
              <td><button class="chore_saturday">Saturday</button></td>
            </tr>
          </thead>
          <tbody style="display:none">
            <tr>
              <td><%= f.check_box :sunday %></td>
              <td><%= f.check_box :monday %></td>
              <td><%= f.check_box :tuesday %></td>
              <td><%= f.check_box :wednesday %></td>
              <td><%= f.check_box :thursday %></td>
              <td><%= f.check_box :friday %></td>
              <td><%= f.check_box :saturday %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label strong">People</label>
      <div class="controls">
        <div class="people">
          <div class="items">
          <%= f.nested_fields_for :people do |f| %>
            <fieldset class="item">
              Name:
              <%= f.text_field :name %>
              Email:
              <%= f.text_field :email %>
              Phone:
              <%= f.text_field :phone %>

              <a href="#" class="remove"><i class="icon-remove-sign"></i>remove</a>
              <%= f.hidden_field :id %>
              <%= f.hidden_field :_destroy %>
            </fieldset>
          <% end %>
          </div>
          <a href="#" class="add"><i class="icon-plus-sign"></i>add people</a>
        </div>

      </div>
    </div>
  </div>
  <br/><br/>
  <div class="actions center" style="width:200px">
    <%= f.submit :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
