<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.date_select :startDate %>
  </div>
  
  People:
  <div class="people">
    <div class="items">
    <%= f.nested_fields_for :people do |f| %>
      <fieldset class="item">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :phone %>
        <%= f.text_field :phone %>

        <a href="#" class="remove">remove</a>

        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy %>
      </fieldset>
    <% end %>
    </div>
    <a href="#" class="add">add people</a>
  </div>
  
  <div class="field">
    <%= f.label :monday %><br />
    <%= f.check_box :monday %>
  </div>
  <div class="field">
    <%= f.label :tuesday %><br />
    <%= f.check_box :tuesday %>
  </div>
  <div class="field">
    <%= f.label :wednesday %><br />
    <%= f.check_box :wednesday %>
  </div>
  <div class="field">
    <%= f.label :thursday %><br />
    <%= f.check_box :thursday %>
  </div>
  <div class="field">
    <%= f.label :friday %><br />
    <%= f.check_box :friday %>
  </div>
  <div class="field">
    <%= f.label :saturday %><br />
    <%= f.check_box :saturday %>
  </div>
  <div class="field">
    <%= f.label :sunday %><br />
    <%= f.check_box :sunday %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
